<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnnouncementsAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnnouncementsAddIn.Properties.Settings>
            <setting name="TemplateName" serializeAs="String">
                <value>Announcements.dotx</value>
            </setting>
            <setting name="ProgrammeFile" serializeAs="String">
                <value>Ecclesial Programme.xlsx</value>
            </setting>
            <setting name="CTPWidth" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CleaningWeekEnding" serializeAs="String">
                <value>True</value>
            </setting>
        </AnnouncementsAddIn.Properties.Settings>
    </userSettings>
</configuration>